:root {
    --primary-color:#087b39;
    --white-color: #fff;
    --black-color: #000;
    --text-color:#3d3d3d;
}

*{
    box-sizing: inherit;
}

html {

    font-family: "Motiva Sans", Sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f5f7;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__colunm-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__colunm-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

/*  decription*/
.decription {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 0px #ccc;
    top: 32px;
    animation: decriptionAnimation ease-in 0.2s ;
    z-index: 1;
}

.decription-p {
    min-width: 320px;
    font-size: 14px;
    text-align: center;
    padding: 0 16px;
}
.decription::after,.decription::before {
    content: "";
    border-width: 15px 14px ;
    border-style:  solid;
    position: absolute;
    left: 30px;
    top: -30px;
}
.decription:before {
    border-color: transparent  transparent #ccc transparent;
}

.decription::after {
    margin-top: 2px;
    border-color: transparent  transparent #fff transparent;
}

@keyframes decriptionAnimation {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* modal */
.modal {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.modal__body {
    background-color: #181a21;
    margin: auto;
    z-index: 1;
    border-radius: 5px;
}