.container {
    margin-bottom: 100px;
}

.category {
    margin: 30px 0;
}

.category-left {
    border: 1px solid #ccc;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.category-left__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.category-left__link {
    display: flex;
    text-decoration: none;
    color: var(--black-color);
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
}

.category-left__link i,.category-left__link-all i {
    color: #999;
}

.category-left__title {
    margin: 0;
    padding: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    font-weight: 550;
}


.count {
    font-size: 13px;
    color: #999;
}

.category-left__link-all {
    display: flex;
    text-decoration: none;
    color: var(--black-color);
    padding: 14px 16px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.category-left__link-all span {
    color: #5582ba;
    font-size: 13px;
    margin-left: 6px;
}

.category-right__wrapper {
    padding: 20px 30px;
    clear: both;
}

.category-right__book {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.category-right__book:hover,.category-right__book:hover .category-right__name, .category-right__book:hover .category-right__author,.category-right__book:hover .category-right__new-price {
    color: var(--primary-color) !important;
}

.category-right__book:hover .category-right__img a img {
    box-shadow: 0 0 5px #5582ba;
}

.category-right__title {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.category-right__img a {
    position: relative;
}

.category-right__img a img:hover {
    width: 115px;
    box-shadow: 0 0 5px #5582ba;
}

.category-right__name {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    width: 70%;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
    height: 38px;
    overflow: hidden;
}

.category-right__name:hover {
    text-decoration: underline;
}

.category-right__author {
    font-size: 14px;
    color: #666;
}

.category-right__price {
    margin-top: 8px;
}

.category-right__old-price {
    position: relative;
}

.category-right__old-price::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #333;
    left: 0;
    top: 49%;
}

.category-right__new-price {
    font-size: 18px;
    color: #c02026;
}

.category-right__link-all {
    display: flex;
    justify-content: end;
}

.category-right__link-all a {
    text-decoration: none;
    font-size: 14px;
    color: #5582ba;
}


.category-right__filter {
    position: relative;
    float: right;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.category-right__filter-box {
    font-size: 14px;
    padding: 10px 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 3px;
}

.category-right__filter-box:hover {
    background-color: #c5c5c5;
}


.filter-combobox {
    position: absolute;
    list-style: none;
    margin: 1px 0 0 0;
    padding: 0;
    background: var(--white-color);
    border: 1px solid #ccc;
    z-index: 100;
    font-size: 14px;
    top: 100%;
}

.filter-combobox_none {
    display: none;
    
}

.filter-combobox_active {
    background: linear-gradient(to bottom,#d9d9d9,#f3f3f3);
}

.filter-combobox__item {
    padding: 6px 14px;
    margin: 4px 0;
    cursor: pointer;
}

.filter-combobox__item:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.filter-grid--active {
    background: linear-gradient(to bottom,#d9d9d9,#f3f3f3);
    border: 1px solid #ccc;
}

.filter-grid__icon {
    padding: 6px;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
}

.category-right__bot {
    border-top: 1px dashed #ccc;
    padding-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 20px;
}

.category-right__bot-title {
    margin-right: 10px;
    color: var(--text-color);
    font-size: 14px;
}

.category-right__bot-page {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 12px;
    border: 1px solid #ccc;
    margin: 0 4px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.category-right__bot-page--active,.category-right__bot-page:hover {
    color: var(--white-color);
    background-color: #2ba40d;
}

